Um eixo de diâmetro 38 mm tem um canal de chaveta Woodruff, onde existe um torque de 475 N-m. O material a ser usado na chaveta é um aço AISI 1020 TF com Sy=350MPa.

A chaveta woodruff a ser usada tem b=6 e h=7,5(mm). Para encontrar as outras medidas dessa chaveta procure no repositório: https://www.traceparts.com/br/

Encontrar: força aplicada na chaveta (carga) - área de cisalhamento - tensão de cisalhamento e fator de segurança.

In [70]:
from pandas import DataFrame
from numpy import sqrt

In [71]:
sy = 350 #mpa
b = 6    #mm
h = 7.5  #mm
d = 38   #mm
T = 475  #N*m

$$ T = Fr \rightarrow F = \frac{T}{D/2} = 25000 \: N $$

In [72]:
F = round(T/(d/2000), 4)   #N
F

25000.0

$$ Utilizando \: \: o \: \: critério \: \: de \: \: Von \: \: Mises \: \: temos: \: \: S_{sy} = \frac{S_{y}}{\sqrt{3}} = 202,0726 \: MPa $$

In [73]:
ssy = round(sy/sqrt(3), 4)   #MPa
ssy

202.0726

# ![markdown](https://i.ibb.co/9H5L9Mn/dim1.png)

# ![markdown](https://i.ibb.co/cwnhRhz/dim2.png)

In [110]:
A = [42.79, 111.45] #mm^2

$$ \tau = \frac{F}{A_{s}} $$

In [111]:
def 𝜏(As):
    return round(F/As, 4)   #MPa

𝜏_array = []
for c in range(len(A)):
    𝜏_array.append(𝜏(A[c]))

$$ \eta_{s} = \frac{S_{sy}}{\tau} $$

In [112]:
def 𝜂s(As):
    return round(ssy/𝜏(As), 4)

𝜂s_array = []
for c in range(len(A)):
    𝜂s_array.append(𝜂s(A[c]))

$$ \sigma_{c} = \frac{F}{A_{c}} $$

In [113]:
def 𝜎c(Ac):
    return round(F/Ac, 4)

𝜎c_array = []
for c in range(len(A)):
    𝜎c_array.append(𝜎c(A[c]))

$$ \eta_{c} = \frac{S_{y}}{\sigma_{c}} $$

In [114]:
def 𝜂c(Ac):
    return round(sy/𝜎c(Ac), 4)

𝜂c_array = []
for c in range(len(A)):
    𝜂c_array.append(𝜂c(A[c]))

In [115]:
data_1 = {
       'Sy [MPa]': [sy],
        'b [mm]':  [b],
        'h [mm]':  [h],
        'd [mm]':  [d],
        'T [N.m]':  [T],
        'F [N]':  [F],
        'Ssy [MPa]':[ssy],
}

data_2 = {
        'A_s,c [mm²]': A,
        '𝜏 [MPa]':  𝜏_array,
        '𝜂s': 𝜂s_array,
        '𝜎c [MPa]': 𝜎c_array,
        '𝜂c':  𝜂c_array 
        
       }

In [116]:
df_1 = DataFrame(data_1, dtype='float64').round(2)
df_2 = DataFrame(data_2, dtype='float64').round(2)
display(df_1.T)
display(df_2.T)

                  0
Sy [MPa]     350.00
b [mm]         6.00
h [mm]         7.50
d [mm]        38.00
T [N.m]      475.00
F [N]      25000.00
Ssy [MPa]    202.07

                  0       1
A_s,c [mm²]   42.79  111.45
𝜏 [MPa]      584.25  224.32
𝜂s             0.35    0.90
𝜎c [MPa]     584.25  224.32
𝜂c             0.60    1.56